.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 360px;
  height: 360px; */
  margin-bottom: 2rem;
  height: 100%;
  /* background-color: blue; */
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 100%;
  padding: 1rem;
  border: 1px solid #e7e8ea;
  border-radius: 24px;
  margin: auto;
  background-color: #000;
  gap: 1rem;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.05);

  transition-timing-function: ease-in-out;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* background-color: yellow; */
  flex-direction: column;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  height: 300px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: red;
  /* background-color: aliceblue; */
}

.locationName {
  color: #93eb2e;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.locationInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* background-color: violet; */
  flex-direction: column;
  gap: 0.8rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
  /* background-color: aqua; */
}

.info > b {
  color: #00a7eb;
  font-weight: bold;
}


@media screen and (max-width: 576px) {
  .card {
    max-width: 90%;
    max-height: 90%;
    gap: 0.1rem;
  }
  
}
