.cardContainer {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
   margin-bottom: 2rem;
}

.card {
  display: grid;
  grid-template-columns: auto auto auto;
  /* margin: 1rem; */
  column-gap: 1rem;
  row-gap: 1rem;
  cursor: pointer;
  /* background-color: blue; */
  width: 400px;
}

.cardInner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding: 1rem;
  border: 1px solid #e7e8ea;
  text-align: left;
  border-radius: 24px;
  margin: auto;
  background-color: #000;
  gap: 1rem;
}

.cardInner:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #93eb2e;
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: aliceblue; */
}

.characterInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: aqua; */
}

.info > b {
  color: #00a7eb;
  font-weight: bold;
}

@media screen and (max-width: 940px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2fr);
    margin: 1rem;
    column-gap: 0.5rem;
    row-gap: 1rem;
    cursor: pointer;
    /* background-color: blue; */
  }
}

@media screen and (max-width: 576px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
