.cardContainer {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
   margin-bottom: 2rem;
   
}

.card {
  display: grid;
  grid-template-columns: 2fr;
  /* margin: 1rem; */
  column-gap: 1rem;
  row-gap: 1rem;
  cursor: pointer;
  /* background-color: blue; */
  width: 400px;
  height: 600px;

}

.cardInner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid #e7e8ea;
  text-align: left;
  border-radius: 20px;
  gap: 1rem;
  background-color: #000;
  transition: 0.4s;


}


.cardInner:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
}

.cardInner > img {
  border-radius: 5px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #93eb2e;
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: aliceblue; */
}

.characterInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: aqua; */
}

.info > b {
  color: #00a7eb;
  font-weight: bold;
  margin-right: 0.3rem;
}



@media screen and (max-width: 940px) {
  .cardContainer {
    display: grid;
    margin: 1rem;
    column-gap: 0.5rem;
    row-gap: 1rem;
    cursor: pointer;
    /* background-color: blue; */
  }
}

@media screen and (max-width: 576px) {

  .card {
    width: 90%;
    max-height: 90%;
    height: 100%;
    grid-template-columns: 1fr;
  }

  
}
